// Hero Disiplin Menabung
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/remitansi.svg", alt="Remitansi")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Apa Itu Remitansi dan Alur Pengiriman Uang ke Indonesia

            .col-lg-10
                p.text-secondary 
                    | Remitansi adalah proses pengiriman uang dari luar negeri ke Indonesia atau sebaliknya. 
                    | Uang dikirim melalui bank atau penyedia jasa keuangan, dengan melibatkan bank pengirim, bank penerima, dan bank perantara jika diperlukan. 
                    | Penerima di Indonesia menerima dana dalam bentuk valas (valuta asing) atau rupiah sesuai peraturan.

        