
section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    ol
                        li 
                            a(href="#ApaItuRemitansi") Apa Itu Remitansi
                        
                        li 
                            a(href="#PenyediaRemitansi") Penyedia Resmi Layanan Remitansi

            article.jari-sidebar-content.col-lg-9.content-article
                section#ApaItuRemitansi.pmi-scrollspy-content
                    h4 Apa Itu Remitansi
                    p 
                        | Remitansi merupakan pengiriman uang dari dalam negeri ke penerima di luar negeri (Outward Remittance) ataupun sebaliknya dari luar negeri ke dalam negeri (Inward Remittance). 
                        | Pengiriman dapat melalui bank atau penyedia jasa keuangan lainnya. Dalam pengiriman valas ini terdapat beberapa komponen yang terlibat, yaitu:

                    ul 
                        li Beneficiary: pihak yang menerima valas (valuta asing).
                        li Beneficiary bank: bank yang ditunjuk untuk menerima valas.
                        li Remitting bank: bank yang menyediakan layanan pengiriman valas.
                        li Correspondent bank: bank perantara antara bank pengirim dan penerima.
                    
                    hr
                
                section#PenyediaRemitansi.pmi-scrollspy-content
                    h4 Penyedia Resmi Layanan Remitansi

                    p Lakukan pengiriman uang hanya pada jalur-jalur resmi yang sudah memiliki lisensi ya, antara lain dapat dilakukan di:

                    ul 
                        li 
                            b Bank: 
                            | Bank yang dimaksud adalah bank yang menyediakan jasa remitansi dimanapun bank tersebut berada, baik bank nasional ataupun bank swasta.
                        li 
                            b Penyedia Jasa Pengiriman Uang: 
                            | Badan usaha yang menyediakan jasa pengiriman uang dan memiliki lisensi dari otoritas setempat.
                        li 
                            b Kantor Pos: 
                            | Selain mengirimkan surat dan paket, kantor pos juga dapat menyediakan layanan pengiriman uang.

                    p 
                        | Jangka waktu pengiriman dan penerimaan uang pasti terukur mulai dari real time online (diterima seketika) sampai dengan H+3 dari 
                        | saat transaksi dilakukan tergantung ketentuan bank atau penyedia jasa pengiriman uang. Untuk nilai maksimum dari jasa pengiriman uang yang ditetapkan tiap negara berbeda-beda, 
                        | di Indonesia  sendiri batas transaksi pengiriman uang valuta asing setara dengan RP100.000.000,- per bulan per nasabah. 
                        | Jika melebihi batas tersebut maka nasabah wajib untuk menyerahkan dokumen pendukung/underlying. 

                    p Sobat perlu memperhatikan beberapa hal dalam memanfaatkan jasa remitansi agar prosesnya dapat berjalan dengan lancar:

                    ul 
                        li Lakukan transaksi di bank atau penyedia jasa pengiriman uang yang telah memiliki lisensi.
                        li Meminta bukti transaksi yang sah.
                        li Mencantumkan nama, alamat, nomor telepon, dan/ atau nomor rekening pengirim dan penerima uang dengan jelas dan detil untuk memudahkan pencairan.
                        li Biaya yang timbul saat mengirimkan uang yaitu biaya transaksi dan biaya komisi. Biaya transaksi, biaya atas pelayanan jasa pengiriman uang yang berbeda pada masing-masing penyedia layanan jasa. Biaya komisi, biaya atas aktivitas jual-beli valuta asing yang digunakan dalam transaksi.
                        li Melakukan pengecekan kepada penerima setelah transaksi pengiriman uang dilakukan untuk memastikan bahwa uang telah diterima.
                        li Penerima yang mendapat pengiriman uang dalam bentuk tunai disarankan tidak memberitahukan Personal Identification Number (PIN) atau nomor referensi untuk pencairan uang.

                    p 
                        | Siapa yang paling sering menggunakan remitansi? Remitansi banyak digunakan para Tenaga Kerja Indonesia (TKI) di luar negeri untuk mengirimkan uang kepada keluarganya disini. 
                        | Sobat tau gak kenapa para TKI ini disebut sebagai pahlawan devisa? Salah satunya karena remitansi ini, remitansi telah menjadi kekuatan bagi suatu negara dalam kontribusi devisa, 
                        | dan menjadi penggerak ekonomi bagi keluarga TKI di kampung halamannya. Deputi Gubernur Bank Indonesia, Sugeng mengatakan, pada tahun 2018 remitansi dari para pahlawan devisa ini 
                        | menghasilkan pendapatan devisa sebesar US$ 8,8 miliar atau Rp 127,6 triliun apabila dihitung berdasar kurs Rp 14.500 per dolar AS. 
                        | The Global Knowledge Partnership on Migration and Development (KNOMAD) bahkan mencatat Indonesia termasuk dalam 10 besar negara dengan remitansi terbesar. 

                    p 
                        | Namun dibalik tingginya angka tersebut ternyata masih banyak TKI mengirimkan uang melalui jalur informal baik individu maupun kelompok yang tidak berbadan hukum dan tidak memiliki lisensi, 
                        | tentunya hal ini sangat berisiko dan jumlahnya terbatas. Sayang banget kan kalau uang hasil kerja keras kita dibawa oleh pihak tidak bertanggung jawab padahal keluarga kita sangat membutuhkan uang tersebut. 
                        | Salah satu penyebab masih banyak TKI yang menggunakan jalur informal adalah masih rendahnya tingkat literasi keuangan masyarakat. 
                        | Penting bagi kita semua untuk memiliki pengetahuan dan pengelolaan keuangan yang baik agar hasil kerja keras yang didapatkan tidak cuma “lewat” namun bisa dimanfaatkan sebaik-baiknya untuk masa depan.






