section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'/')
                                i.bi.bi-house
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'informasi-keuangan/') Informasi Keuangan

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Apa Itu Remitansi dan Alur Pengiriman Uang ke Indonesia