// Hero Starts

section.section-hero.bg-pmi-blue-50
  .container.pt-4.pt-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.justify-content-center
        .col-md-8.col-lg-6.text-center
            h1.mb-3 Artikel
            .input-group.custom-search-2.search-only.mb-5
                button#button-addon1.btn.btn-outline-light.btn-lg(type='button')
                    i.bi.bi-search
                input.form-control.form-control-lg(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' placeholder='Cari judul artikel...')

    .row.d-flex.align-items-center.justify-content-center
        include section_category.pug
                
    
