section
    .container.py-4.py-lg-5.px-4.px-md-0
        .row.mb-3
            .d-flex.justify-content-between.align-items-center.fs-7
                span
                    | Ditemukan 
                    b 1.231 
                    | artikel di Semua
                
                div.d-flex.align-items-center
                    .me-1 Urutkan: 
                    select.form-select(aria-label='Default select example')
                        option(selected='') Terbaru
                        option(value='1') Terlama

        .row
            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug
            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug
            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug

            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug
            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug
            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug

            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug
            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug
            .col-12.col-md-6.col-lg-4.mb-4
                include sample_article_card.pug

        .row 
            .col-12.d-flex.justify-content-center
                nav(aria-label='Page navigation example')
                    ul.pagination
                        li.page-item
                            a.page-link(href='#' aria-label='Previous')
                                span(aria-hidden='true')
                                    i.bi.bi-chevron-left
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#' aria-label='Next')
                                span(aria-hidden='true')
                                    i.bi.bi-chevron-right
