<!-- Category with swiper -->
//- section
//-     .container.px-4.px-md-0
//-         .swiper.articleCatSwiper.mt-4
//-             .swiper-wrapper.pb-3.d-flex.justify-content-center
//-                 .swiper-slide
//-                     a.p-2.btn(href="#") 
//-                         | Semua

//-                 .swiper-slide
//-                     a.p-2.btn(href="#") 
//-                         | Kategori 1

//-                 .swiper-slide
//-                     a.p-2.btn(href="#") 
//-                         | Kategori 2

//-                 .swiper-slide
//-                     a.p-2.btn(href="#") 
//-                         | Kategori 3

//-                 .swiper-slide
//-                     a.p-2.btn(href="#") 
//-                         | Kategori 4


<!-- Category without swiper -->
section
    .container.px-4.px-md-0
        .d-flex.justify-content-center
            ul.nav.nav-underline
                li.nav-item
                    a.nav-link.active(aria-current='page' href='#') Semua
                li.nav-item
                    a.nav-link(href='#') Kategori 1
                li.nav-item
                    a.nav-link(href='#') Kategori 2
                li.nav-item
                    a.nav-link(href='#') Kategori 3
                li.nav-item
                    a.nav-link(href='#') Kategori 4


