footer.border-top
    .container.py-4.py-lg-5.px-4.px-md-0
        .row
            .col-md-8
                .mb-4
                    img(src=baseURL+'img/logo-pmi.svg' alt='Jari PMI')
                .row 
                    .col-md-4.mt-4.mt-lg-0
                        h6 Jari PMI
                        ul.footer-nav
                            li 
                                a(href="#") Beranda 
                            li 
                                a(href="#") Latar Belakang 
                            li 
                                a(href="#") Visi Misi 
                            li 
                                a(href="#") Remitansi 
                            li 
                                a(href="#") Artikel 
                            li 
                                a(href=baseURL+"tanyajawab/") Tanya Jawab

                    .col-md-4.mt-4.mt-lg-0
                        h6 Pelatihan
                        ul.footer-nav
                            li 
                                a(href="#") Bahasa Asing 
                            li 
                                a(href="#") UMKM
                            li 
                                a(href="#") Pengelolaan Uang
                            li 
                                a(href="#") Pelatihan Lainnya
                    
                    .col-md-4.mt-4.mt-lg-0
                        h6 Negara Tujuan
                        ul.footer-nav
                            li 
                                a(href="#") Hongkong
                            li 
                                a(href="#") Malaysia
                            li 
                                a(href="#") Korea Selatan
                            li 
                                a(href="#") Arab Saudi
                            li 
                                a(href="#") Taiwan 
                            li 
                                a(href="#") Singapura
                   
            .col-md-4
                .contact-box.rounded-3.overflow-hidden.mt-4.mt-lg-0
                    .contact-box-header.p-4.text-center
                        h5.m-0 Layanan Aduan
                    div.p-4
                        .row.d-flex.align-items-center
                            .col-4
                                img.mw-100(src=baseURL+"img/logo-bp2mi.png", alt="BP2MI (Badan Perlindungan Pekerja Migran Indonesia)")
                            .col-8
                                h6.fs-8 Layanan Aduan ini dilayani oleh BP2MI (Badan Perlindungan Pekerja Migran Indonesia)
                        
                        div.fs-7.mt-2
                            ul 
                                li.pt-2
                                    | Call Center - Telepon Halo PMI : 
                                    a.text-primary(href="tel:+628001000") 08001000
                                
                                li.pt-2
                                    | Telepon dari Luar Negeri : 
                                    a.text-primary(href="tel:+622129244810") (021) 29244810

                                li.pt-2
                                    | Email 
                                    a.text-primary(href="mailto:halotki@bp2mi.go.id") halotki@bp2mi.go.id

                                li.pt-2
                                    | Faksimili : 
                                    a.text-primary(href="#")(021) 29244810

                        div.mt-4
                            h6 Sosial Media 
                            div
                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-facebook.me-1
                                    | bp2mi.ri

                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-twitter.me-1
                                    | @bp2mi_ri

                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-instagram.me-1
                                    | @bp2mi_ri

                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-youtube.me-1
                                    | BP2MIHumas
                                
                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-tiktok.me-1
                                    | @bp2mi.ri

        .row.border-top.mt-4
            p.text-center.fs-8.text-secondary.mb-0.mt-3 Copyright @copy 2024 Jari PMI

    button(class="scroll-top")
        i(class="bi bi-chevron-up")

    
    