script(src=baseURL+'js/bootstrap.bundle.min.js')
script(src=baseURL+'js/jquery-1.11.3.min.js')
script(src=baseURL+'js/jquery.mobile.custom.min.js')
script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
script(src=baseURL+'js/main.js')