#layananAduan.modal.modal-lg.fade(tabindex='-1' aria-labelledby='layananAduanLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header.align-items-start.align-items-lg-center
        //- h1#layananAduanLabel.modal-title.fs-5 JUDUL
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .contact-box.rounded-3.overflow-hidden.mt-4.mt-lg-0
                    .contact-box-header.p-4.text-center
                        h5.m-0 Layanan Aduan
                    div.p-4
                        .row.d-flex.align-items-center
                            .col-4
                                img.mw-100(src=baseURL+"img/logo-bp2mi.png", alt="BP2MI (Badan Perlindungan Pekerja Migran Indonesia)")
                            .col-8
                                h6.fs-8 Layanan Aduan ini dilayani oleh BP2MI (Badan Perlindungan Pekerja Migran Indonesia)
                        
                        div.fs-7.mt-2
                            ul 
                                li.pt-2
                                    | Call Center - Telepon Halo PMI : 
                                    a.text-primary(href="tel:+628001000") 08001000
                                
                                li.pt-2
                                    | Telepon dari Luar Negeri : 
                                    a.text-primary(href="tel:+622129244810") (021) 29244810

                                li.pt-2
                                    | Email 
                                    a.text-primary(href="mailto:halotki@bp2mi.go.id") halotki@bp2mi.go.id

                                li.pt-2
                                    | Faksimili : 
                                    a.text-primary(href="#")(021) 29244810

                        div.mt-4
                            h6 Sosial Media 
                            div
                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-facebook.me-1
                                    | bp2mi.ri

                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-twitter.me-1
                                    | @bp2mi_ri

                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-instagram.me-1
                                    | @bp2mi_ri

                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-youtube.me-1
                                    | BP2MIHumas
                                
                                a.btn.btn-outline-primary.btn-sm.me-2.mb-2(href="#")
                                    i.bi.bi-tiktok.me-1
                                    | @bp2mi.ri

      .modal-footer.justify-content-center
        button.btn.btn-outline-primary(type='button' data-bs-dismiss='modal') Tutup