// start header
header.site-main-header
  //- .header-container
  .header-container.container.d-flex.align-items-center.px-4.px-md-0
    a.site-logo(href=baseURL+'index.html')
      img(src=baseURL+'img/logo-pmi.svg' alt='Jari PMI')
    ul.site-header-buttons
      li
        a.site-nav-trigger(href='#site-primary-nav')
          | Menu
          span
// end header
