// Hero Disiplin Menabung
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/disiplin-menabung.svg", alt="Disiplin Menabung")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Disiplin Menabung

            .col-lg-10
                p.text-secondary 
                    | Disiplin menabung dan bijak berhutang perlu ada tambahan page lagi sepertinya, karena gak cukup menjelaskan di 1 halaman. jadi perlu page sendiri.

        