// Hero Disiplin Menabung
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/bijak-berhutang.svg", alt="Bijak Berhutang")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Bijak Berhutang

            .col-lg-10
                p.text-secondary 
                    | Saat bekerja di luar negeri, penting untuk memahami perbedaan antara utang baik dan buruk. Bijak dalam berhutang akan membantu menghindari jebakan utang yang berlebihan, seperti skema "Pay Later", serta mengenali pinjaman legal dan ilegal.

        