//- start variable
- var pageActive = 'artikel'
- var baseURL = '../'
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Jari PMI"
- contentDescription.description = "Artikel"

doctype html
html(lang="id")
    include ../pug/includes/html_head.pug
    body
        // Header 
        include ../pug/includes/nav_mobile.pug

        // Main content
        main.site-main-content
            include ../pug/artikel/section_hero.pug
            include ../pug/artikel/section_article.pug
            

        // Footer
        include ../pug/includes/footer.pug

        // Header Menu
        include ../pug/includes/nav_desktop.pug

        // Modals
        include ../pug/includes/modal.pug

    include ../pug/includes/html_foot.pug