// Hero
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center
        //- .col-12
        //-     ol.breadcrumb.fs-7
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'/')
        //-                     i.bi.bi-house
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'negara/') Semua Negara
        //-             li.breadcrumb-item.active(aria-current='page') Hongkong

        .col-md-7.mt-3.mt-md-0.content-hero
            .d-flex.mb-4
                img.me-3.border(src=baseURL+"img/flag-hongkong.png", alt="" height="64")
                h1.display-4.font-weight-bold.mb-3
                    | Hongkong

            .col-lg-10
                p.text-secondary
                    | Hong Kong Special Administrative Region (SAR) of the People's Republic of China
                    | Negara Hongkong adalah perpaduan budaya Timur dan Barat, mencerminkan sejarah kolonial Inggris. Festival seperti Tahun Baru Imlek dan Festival Lampion dirayakan dengan meriah.Memiliki sistem pemerintahan yang unik dengan otonomi tinggi di bawah prinsip "satu negara, dua sistem," meskipun ada ketegangan politik yang meningkat dalam beberapa tahun terakhir.
                    | Sebagai pusat keuangan global, Hongkong memiliki ekonomi yang dinamis dengan sektor jasa yang kuat, termasuk perbankan dan perdagangan.

        .col-md-5.p-0
            img.mw-100.hero-mask(src=baseURL+"img/bg-hongkong.webp", alt="Negara Tujuan PMI")