//- start variable
- var pageActive = 'informasi-keuangan'
- var baseURL = '../'
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Informasi Keuangan - Jari PMI"
- contentDescription.description = "Kelola keuanganmu untuk masa depan yang lebih baik. Disiplin menabung, bijak berhutang, dan eksplorasi produk tabungan, investasi, serta pinjaman untuk kebutuhanmu."

doctype html
html(lang="id" page-class="home")
    include ../pug/includes/html_head.pug
    body
        // Header 
        include ../pug/includes/nav_mobile.pug

        // Main content
        main.site-main-content
            //- include ../pug/includes/header_gap.pug
            include ../pug/informasi-keuangan/section_hero.pug
            include ../pug/home/section_finance_management.pug
            include ../pug/informasi-keuangan/section_transaction.pug
            include ../pug/informasi-keuangan/section_produk_tabungan.pug
            include ../pug/informasi-keuangan/section_produk_pinjaman.pug
            include ../pug/informasi-keuangan/section_pengiriman_uang.pug
            include ../pug/informasi-keuangan/section_transaksi_aman.pug
            include ../pug/informasi-keuangan/section_cegah_penipuan.pug
        // Footer
        include ../pug/includes/footer.pug

        // Header Menu
        include ../pug/includes/nav_desktop.pug

        // Modals
        include ../pug/includes/modal.pug

    include ../pug/includes/html_foot.pug