
section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    ol
                        li 
                            a(href="#ProsesRemitansiSecaraInPerson") Proses Remitansi Secara In Person Pada Bank
                        
                        li 
                            a(href="#ProsesRemitansiSecaraAplikasi") Proses Remitansi Secara Mandari Melalui Aplikasi Bank


            article.jari-sidebar-content.col-lg-9.content-article
                section#ProsesRemitansiSecaraInPerson.pmi-scrollspy-content
                    h4 Proses Remitansi Secara In Person Pada Bank
                    
                    p BERIKUT PROSES REMITEN SECARA IN-PERSON PADA BANK.
                    ol 
                        li Pengirim uang datang ke bank yang menyediakan layanan transfer ke luar negeri.

                        li Pihak bank memberikan form yang harus diisi oleh pengirim. Diantaranya adalah data identitas pengirim & penerima, nominal yang dikirim, bank tujuan penerima.

                        li Dana yang akan dikirimkan disetor ke bank/didebet dari rekening valas.

                        li Bank pengirim akan memproses dengan menunjuk bank koresponden menjadi perantara antara bank pengirim dan bank tujuan.

                        li Bank tujuan menerima kiriman uang dan diteruskan kepada penerima.

                    hr
                
                section#ProsesRemitansiSecaraAplikasi.pmi-scrollspy-content
                    h4 Proses Remitansi Secara Mandari Melalui Aplikasi Bank
                    p Namun saat ini dengan adanya teknologi digital, sudah umum juga jasa pengiriman uang dilakukan melalui aplikasi bank. Secara umum proses transfer valas melalui aplikasi sebagai berikut.
                    ul 
                        li Login ke aplikasi bank

                        li Pilih transfer valas

                        li Isi detail pengiriman seperti penerima, negara penerima, mata uang, dan bank penerima

                        li Masukkan sandi dan otentifikasi

                        li Transfer
                    
                    p 
                        | Pengirim dan penerima yang menggunakan jasa layanan transfer valas akan dibebankan biaya dengan besaran tertentu oleh perbankan. Besar biaya ini berbeda-beda setiap bank. 
                        | Selain biaya layanan, nilai tukar yang digunakan pada setiap bank untuk layanan ini juga dapat berbeda.





