// Hero Disiplin Menabung
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/kirim-uang-ke-indonesia.svg", alt="Kirim Uang ke Indonesia")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Langkah Mudah Mengirimkan Uang Ke Indonesia

            .col-lg-10
                p.text-secondary 
                    | Kamu bisa mengikuti langkah mudah berikut, agar kamu aman dan nyaman melakukan pengiriman uang ke Indonesia tanpa rasa khawatir.
                    | Kamu juga melihat panduan untuk Bank yang tersedia dibawah ini.

        