//- .card-body
//-   h6.mb-1.course-title.text-capitalize(title='Memasarkan Produk dengan Facebook Marketing untuk Pedagang Online') Memasarkan Produk dengan Facebook Marketing untuk Pedagang Online
//-   .d-flex.my-2
//-     span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Penjualan dan Pemasaran') Penjualan dan Pemasaran
//-     span.badge.text-bg-light.trending.text-capitalize &#x1F525; Trending
//-   div
//-     .course-real-price.mb-1
//-       span Rp 450.000
//-       span.badge.text-bg-ghost-success 100%
//-     .course-price.card-price.mb-1 Gratis

section
    .container.py-4.py-lg-5.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3 Pelatihan Untuk Kamu
                p.fs-7.m-0 Cari pelatihan online yang sesuai dengan kebutuhan kamu secara gratis atau murah atau diskon besar
            div.d-flex.align-items-center.gap-3
                a.btn.btn-outline-primary(href="#") Selengkapnya
                .d-flex.gap-1
                    button.btn.button-swiper.swiper-course-prev
                        i.bi.bi-chevron-left
                    button.btn.button-swiper.swiper-course-next
                        i.bi.bi-chevron-right
            
        .swiper.courseSwiper.mt-4
            .swiper-wrapper.pb-3
                .swiper-slide
                    .card.course-card
                        a.text-decoration-none.to-detail-course(href='/pelatihan/detail.html?title=melintasi-batas-ekspresi-kreativitas-tanpa-batas&id=ISW-P0797' title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                            .card-cover
                                img.card-img-top(src='https://static-asset-cdn.prakerja.go.id/skill_week/thumbnail/isw-p0797_30.jpg' alt='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                                .card-cover-overlay
                                    .d-flex.justify-content-between.align-middle
                                        .align-self-center
                                            .card-company
                                                img.me-1.card-logo(src='https://static-asset-cdn.prakerja.go.id/skill_week/logo/mojadipro_10.jpg' alt='MojadiPro')
                                                span.course-lp-name MojadiPro
                                        .align-self-center
                                            span.badge.rounded-pill.text-capitalize.text-bg-warning  Self-Paced Learning
                            .card-body
                                h6.mb-1.course-title.text-capitalize(title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas') Melintasi Batas: Ekspresi Kreativitas Tanpa Batas
                                .d-flex.my-2
                                    span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Sosial dan Perilaku') Sosial dan Perilaku
                                div
                                    .course-real-price.mb-1
                                        span.me-2 Rp 500.000
                                        span.badge.text-bg-success 60%
                                    .course-price.card-price.mb-1.color-tertiary Rp 200.000

                .swiper-slide
                    .card.course-card
                        a.text-decoration-none.to-detail-course(href='/pelatihan/detail.html?title=melintasi-batas-ekspresi-kreativitas-tanpa-batas&id=ISW-P0797' title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                            .card-cover
                                img.card-img-top(src='https://static-asset-cdn.prakerja.go.id/skill_week/thumbnail/isw-p0899_30.jpg' alt='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                                .card-cover-overlay
                                    .d-flex.justify-content-between.align-middle
                                        .align-self-center
                                            .card-company
                                                img.me-1.card-logo(src='https://static-asset-cdn.prakerja.go.id/skill_week/logo/taldio_10.jpg' alt='MojadiPro')
                                                span.course-lp-name MojadiPro
                                        .align-self-center
                                            span.badge.rounded-pill.text-capitalize.text-bg-warning  Self-Paced Learning
                            .card-body
                                h6.mb-1.course-title.text-capitalize(title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas') Melintasi Batas: Ekspresi Kreativitas Tanpa Batas
                                .d-flex.my-2
                                    span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Sosial dan Perilaku') Sosial dan Perilaku
                                div
                                    .course-real-price.mb-1
                                        span.me-2 Rp 500.000
                                        span.badge.text-bg-success 60%
                                    .course-price.card-price.mb-1.color-tertiary Rp 200.000
                .swiper-slide
                    .card.course-card
                        a.text-decoration-none.to-detail-course(href='/pelatihan/detail.html?title=melintasi-batas-ekspresi-kreativitas-tanpa-batas&id=ISW-P0797' title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                            .card-cover
                                img.card-img-top(src='https://static-asset-cdn.prakerja.go.id/skill_week/thumbnail/isw-p1110_30.jpg' alt='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                                .card-cover-overlay
                                    .d-flex.justify-content-between.align-middle
                                        .align-self-center
                                            .card-company
                                                img.me-1.card-logo(src='https://static-asset-cdn.prakerja.go.id/skill_week/logo/lets-bake-n-cook_10.jpg' alt='MojadiPro')
                                                span.course-lp-name MojadiPro
                                        .align-self-center
                                            span.badge.rounded-pill.text-capitalize.text-bg-warning  Self-Paced Learning
                            .card-body
                                h6.mb-1.course-title.text-capitalize(title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas') Melintasi Batas: Ekspresi Kreativitas Tanpa Batas
                                .d-flex.my-2
                                    span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Sosial dan Perilaku') Sosial dan Perilaku
                                div
                                    .course-real-price.mb-1
                                        span.me-2 Rp 500.000
                                        span.badge.text-bg-success 60%
                                    .course-price.card-price.mb-1.color-tertiary Rp 200.000

                .swiper-slide
                    .card.course-card
                        a.text-decoration-none.to-detail-course(href='/pelatihan/detail.html?title=melintasi-batas-ekspresi-kreativitas-tanpa-batas&id=ISW-P0797' title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                            .card-cover
                                img.card-img-top(src='https://static-asset-cdn.prakerja.go.id/skill_week/thumbnail/isw-p1010_30.jpg' alt='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                                .card-cover-overlay
                                    .d-flex.justify-content-between.align-middle
                                        .align-self-center
                                            .card-company
                                                img.me-1.card-logo(src='https://static-asset-cdn.prakerja.go.id/skill_week/logo/alterra-academy_10.jpg' alt='MojadiPro')
                                                span.course-lp-name MojadiPro
                                        .align-self-center
                                            span.badge.rounded-pill.text-capitalize.text-bg-warning  Self-Paced Learning
                            .card-body
                                h6.mb-1.course-title.text-capitalize(title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas') Melintasi Batas: Ekspresi Kreativitas Tanpa Batas
                                .d-flex.my-2
                                    span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Sosial dan Perilaku') Sosial dan Perilaku
                                div
                                    .course-real-price.mb-1
                                        span.me-2 Rp 500.000
                                        span.badge.text-bg-success 60%
                                    .course-price.card-price.mb-1.color-tertiary Rp 200.000

                .swiper-slide
                    .card.course-card
                        a.text-decoration-none.to-detail-course(href='/pelatihan/detail.html?title=melintasi-batas-ekspresi-kreativitas-tanpa-batas&id=ISW-P0797' title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                            .card-cover
                                img.card-img-top(src='https://static-asset-cdn.prakerja.go.id/skill_week/thumbnail/isw-p0541_30.jpg' alt='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
                                .card-cover-overlay
                                    .d-flex.justify-content-between.align-middle
                                        .align-self-center
                                            .card-company
                                                img.me-1.card-logo(src='https://static-asset-cdn.prakerja.go.id/skill_week/logo/mastering-skill_10.jpg' alt='MojadiPro')
                                                span.course-lp-name MojadiPro
                                        .align-self-center
                                            span.badge.rounded-pill.text-capitalize.text-bg-warning  Self-Paced Learning
                            .card-body
                                h6.mb-1.course-title.text-capitalize(title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas') Melintasi Batas: Ekspresi Kreativitas Tanpa Batas
                                .d-flex.my-2
                                    span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Sosial dan Perilaku') Sosial dan Perilaku
                                div
                                    .course-real-price.mb-1
                                        span.me-2 Rp 500.000
                                        span.badge.text-bg-success 60%
                                    .course-price.card-price.mb-1.color-tertiary Rp 200.000