section
  .container.py-4.py-lg-5.px-4.px-md-0
    h5.text-center.mb-4 Hasil Kerjasama dengan Berbagai Institusi & Lembaga
    .row
        .col-lg-10.offset-lg-1
            .row.d-flex.justify-content-center
                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="" target="_blank") 
                        img.mw-100(src="img/logo-bp2mi.png", alt="BP2MI")
                
                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://www.bp2mi.go.id/" target="_blank") 
                        img.mw-100(src="img/logo-bank-indonesia.png", alt="Bank Indonesia")

                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://kemlu.go.id/" target="_blank") 
                        img.mw-100(src="img/logo-kemenlu.png", alt="Kementrian Luar Negri")

                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://www.ojk.go.id/Default.aspx" target="_blank") 
                        img.mw-100(src="img/logo-ojk.png", alt="Otoritas Jasa Keuangan")

                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://layanan.kominfo.go.id/" target="_blank") 
                        img.mw-100(src="img/logo-kominfo.png", alt="Kementrian Komunikasi Dan Informasi")

                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://www.aspi-indonesia.or.id/" target="_blank") 
                        img.mw-100(src="img/logo-aspi.png", alt="ASPI")

                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://www.instagram.com/fintechid/?hl=en" target="_blank") 
                        img.mw-100(src="img/logo-fintech.png", alt="Financial Technologi")

                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://www.prakerja.go.id/" target="_blank") 
                        img.mw-100(src="img/logo-prakerja.png", alt="Prakerja")

                .col-4.col-md-3.col-lg-25.item-partner
                    a(href="https://perbanas.id/" target="_blank") 
                        img.mw-100(src="img/logo-perbanas.png", alt="Perbanas")