// Hero Starts

section.section-hero.bg-pmi-blue-50
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/hero-jari-pmi.svg", alt="")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Keuangan Sehat 
                br
                | Pekerja Migran
                span.txt-rotate.ms-2(data-period='1500' data-rotate='[ "Hebat", "Kuat", "Berdaya"]')

            .col-lg-10
                p.text-secondary Pusat jaringan informasi bagi PMI dan keluarga yang dapat memenuhi aspek Pelindungan dan Pemberdayaan sehingga terwujudnya “PMI Berdaya”
                p.fs-7.text-secondary JariPMI - Jaringan Informasi Pekerja Migran Indonesia

            a.btn.btn-gradient.btn-lg(href="informasi-keuangan/") Pelajari Selengkapnya
        