.tab-nav-swiper{
    .swiper-slide-thumb-active {
        background-color: $pmi-blue-50;
    }
    .tab-nav-icon{
        width: 48px;
        max-width: none;
    }
    .swiper-slide {
        &:hover{
            background-color: $pmi-blue-100;
            cursor: pointer;
        }
        &:active{
            background-color: $pmi-lemon-100;
        }
    }
}

.tab-content-swiper{
    .swiper-slide-active{
        background-color: $pmi-blue-50;
    }
}

.country-swiper{
    height: calc(496px + 1.5rem);
}

.button-swiper{
    background-color: $pmi-neutral-100;
    width: 38px;
    padding-left: 0;
    padding-right: 0;
    &.swiper-button-disabled{
        background-color: $pmi-neutral-100;
        border: none;
    }
}

.courseCatSwiper{
    .swiper-slide{
        &:nth-child(1){
            a{
                background-color: $pmi-blue-50;
            }
        }
        &:nth-child(2){
            a{
                background-color: $pmi-cyan-50;
            }
        }
        &:nth-child(3){
            a{
                background-color: $pmi-lemon-50;
            }
        }
        &:nth-child(4){
            a{
                background-color: $pmi-green-50;
            }
        }

        &:nth-child(5){
            a{
                background-color: $pmi-indigo-50;
            }
        }
    }
}

.articleCatSwiper{
    // outline: solid 1px red;
    .swiper-slide{
        // outline: solid 1px red;
        width: auto;
        
    }
}

.btn-bottom-line{
    &.is-active{
        
    }
}