// pmi blue 
$pmi-blue-50: #f0f8ff;
$pmi-blue-100: #dfefff ;
$pmi-blue-200: #b9dffe ;
$pmi-blue-300: #7bc7fe ;
$pmi-blue-400: #34abfc ;
$pmi-blue-500: #0a91ed ;
$pmi-blue-600: #0071cb ; // Primary
$pmi-blue-700: #005499 ; // Bank Indonesia
$pmi-blue-800: #054d87 ;
$pmi-blue-900: #0a4070 ;
$pmi-blue-950: #07294a ;

$pmi-cyan-50: #f2fafd ;
$pmi-cyan-100: #e4f2fa ;
$pmi-cyan-200: #c3e5f4 ;
$pmi-cyan-300: #79c9e7 ; // secondary
$pmi-cyan-400: #52bade ;
$pmi-cyan-500: #2ca2cb ;
$pmi-cyan-600: #1d82ac ;
$pmi-cyan-700: #18698c ;
$pmi-cyan-800: #185974 ;
$pmi-cyan-900: #194a61 ;
$pmi-cyan-950: #112f40 ;

$pmi-lemon-50: #fffbea ;
$pmi-lemon-100: #fff2c5 ;
$pmi-lemon-200: #ffe585 ;
$pmi-lemon-300: #ffd146 ; // tertiary
$pmi-lemon-400: #ffbb1b ;
$pmi-lemon-500: #ff9a06 ;
$pmi-lemon-600: #e27000 ;
$pmi-lemon-700: #bb4c02 ;
$pmi-lemon-800: #983a08 ;
$pmi-lemon-900: #7c300b ;
$pmi-lemon-950: #481700 ;

$pmi-neutral-50: #f6f6f6 ;
$pmi-neutral-100: #e7e7e7 ;
$pmi-neutral-200: #d1d1d1 ;
$pmi-neutral-300: #b0b0b0 ;
$pmi-neutral-400: #888888 ;
$pmi-neutral-500: #6d6d6d ;
$pmi-neutral-600: #5d5d5d ;
$pmi-neutral-700: #4f4f4f ;
$pmi-neutral-800: #454545 ;
$pmi-neutral-900: #3d3d3d ;
$pmi-neutral-950: #242424 ;


$pmi-green-50: #f2ffe4 ;
$pmi-green-100: #e1ffc4 ;
$pmi-green-200: #c5ff90 ;
$pmi-green-300: #9dff50 ;
$pmi-green-400: #6bff06 ;
$pmi-green-500: #57e600 ;
$pmi-green-600: #41b800 ;
$pmi-green-700: #318b00 ;
$pmi-green-800: #2a6d07 ;
$pmi-green-900: #265c0b ;
$pmi-green-950: #0f3400 ;

$pmi-indigo-50: #f4f1ff;
$pmi-indigo-100: #ebe6ff;
$pmi-indigo-200: #d9d0ff;
$pmi-indigo-300: #bdabff;
$pmi-indigo-400: #9e7bff;
$pmi-indigo-500: #8146ff;
$pmi-indigo-600: #7321ff;
$pmi-indigo-700: #6610f2;
$pmi-indigo-800: #540ccb;
$pmi-indigo-900: #470ca6;
$pmi-indigo-950: #290471;

$font-display: "Inter", sans-serif;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400;

$gutter: 16px;
$gutter-m: 8px;


$pmi-primary: $pmi-blue-600;
$text-primary:$pmi-neutral-950;
$text-secondary:$pmi-neutral-800;
$text-disabled:$pmi-neutral-300;
$text-muted:$pmi-neutral-200;

$pmi-danger: red;
$pmi-success: $pmi-green-700;

$border-default: $pmi-neutral-200;

$pmi-bg-default: $pmi-neutral-50;


:root {
    --white: #ffffff;

    --text-default: #242424;// $pmi-neutral-950: #242424 ;
    --border-default: #d1d1d1;// $pmi-neutral-200: #d1d1d1 ;

    /*pmi blue*/
    --pmi-blue-50: #f0f8ff;
    --pmi-blue-100: #dfefff ;
    --pmi-blue-200: #b9dffe ;
    --pmi-blue-300: #7bc7fe ;
    --pmi-blue-400: #34abfc ;
    --pmi-blue-500: #0a91ed ;
    --pmi-blue-600: #0071cb ;
    --pmi-blue-700: #005499 ; // primary
    --pmi-blue-800: #054d87 ;
    --pmi-blue-900: #0a4070 ;
    --pmi-blue-950: #07294a ;

    --pmi-cyan-50: #f2fafd ;
    --pmi-cyan-100: #e4f2fa ;
    --pmi-cyan-200: #c3e5f4 ;
    --pmi-cyan-300: #79c9e7 ; // secondary
    --pmi-cyan-400: #52bade ;
    --pmi-cyan-500: #2ca2cb ;
    --pmi-cyan-600: #1d82ac ;
    --pmi-cyan-700: #18698c ;
    --pmi-cyan-800: #185974 ;
    --pmi-cyan-900: #194a61 ;
    --pmi-cyan-950: #112f40 ;

    --pmi-lemon-50: #fffbea ;
    --pmi-lemon-100: #fff2c5 ;
    --pmi-lemon-200: #ffe585 ;
    --pmi-lemon-300: #ffd146 ; // tertiary
    --pmi-lemon-400: #ffbb1b ;
    --pmi-lemon-500: #ff9a06 ;
    --pmi-lemon-600: #e27000 ;
    --pmi-lemon-700: #bb4c02 ;
    --pmi-lemon-800: #983a08 ;
    --pmi-lemon-900: #7c300b ;
    --pmi-lemon-950: #481700 ;

    --pmi-neutral-50: #f6f6f6 ;
    --pmi-neutral-100: #e7e7e7 ;
    --pmi-neutral-200: #d1d1d1 ;
    --pmi-neutral-300: #b0b0b0 ;
    --pmi-neutral-400: #888888 ;
    --pmi-neutral-500: #6d6d6d ;
    --pmi-neutral-600: #5d5d5d ;
    --pmi-neutral-700: #4f4f4f ;
    --pmi-neutral-800: #454545 ;
    --pmi-neutral-900: #3d3d3d ;
    --pmi-neutral-950: #242424 ;


    --pmi-green-50: #f2ffe4 ;
    --pmi-green-100: #e1ffc4 ;
    --pmi-green-200: #c5ff90 ;
    --pmi-green-300: #9dff50 ;
    --pmi-green-400: #6bff06 ;
    --pmi-green-500: #57e600 ;
    --pmi-green-600: #41b800 ;
    --pmi-green-700: #318b00 ;
    --pmi-green-800: #2a6d07 ;
    --pmi-green-900: #265c0b ;
    --pmi-green-950: #0f3400 ;

    --pmi-indigo-50: #f4f1ff;
    --pmi-indigo-100: #ebe6ff;
    --pmi-indigo-200: #d9d0ff;
    --pmi-indigo-300: #bdabff;
    --pmi-indigo-400: #9e7bff;
    --pmi-indigo-500: #8146ff;
    --pmi-indigo-600: #7321ff;
    --pmi-indigo-700: #6610f2;
    --pmi-indigo-800: #540ccb;
    --pmi-indigo-900: #470ca6;
    --pmi-indigo-950: #290471;
}


// overides bootstrap color & things
:root,
[data-bs-theme=light] {
  --bs-blue: #0071cb; // --pmi-blue-700
  --bs-indigo: #6610f2; // --pmi-indigo-700
  --bs-purple: #6f42c1; // default
  --bs-pink: #d63384; // default
  --bs-red: #dc3545; // default
  --bs-orange: #e27000; // --pmi-lemon-600: #e27000 ;
  --bs-yellow: #ffd146; // --pmi-lemon-300: #ffd146 ;
  --bs-green: #318b00; // --pmi-green-700: #318b00 ;
  --bs-teal: #20c997; // default
  --bs-cyan: #52bade; // --pmi-cyan-400: #52bade ;
  --bs-black: #000; // default
  --bs-white: #fff; 
  --bs-gray: #6d6d6d; // --pmi-neutral-500: #6d6d6d ;
  --bs-gray-dark: #3d3d3d; // --pmi-neutral-900: #3d3d3d ;
  --bs-gray-100: #e7e7e7; // --pmi-neutral-100: #e7e7e7 ;
  --bs-gray-200: #d1d1d1; // --pmi-neutral-200: #d1d1d1 ;
  --bs-gray-300: #b0b0b0; // --pmi-neutral-300: #b0b0b0 ;
  --bs-gray-400: #888888; // --pmi-neutral-400: #888888 ;
  --bs-gray-500: #6d6d6d; // --pmi-neutral-500: #6d6d6d ;
  --bs-gray-600: #5d5d5d; // --pmi-neutral-600: #5d5d5d ;
  --bs-gray-700: #4f4f4f; // --pmi-neutral-700: #4f4f4f ;
  --bs-gray-800: #454545; // --pmi-neutral-800: #454545 ;
  --bs-gray-900: #242424; // --pmi-neutral-950: #242424 ;
  --bs-primary: #0071cb;; // --pmi-blue-700
  --bs-secondary: #6d6d6d; // --pmi-neutral-500: #6d6d6d ;
  --bs-success: #318b00; // --pmi-green-700: #318b00 ;
  --bs-info: #52bade; // --pmi-cyan-400: #52bade ;
  --bs-warning: #ffd146; // --pmi-lemon-300: #ffd146 ;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #242424; // --pmi-neutral-950: #242424 ;
  --bs-primary-rgb: 0, 113, 203;  // --pmi-blue-700
  --bs-secondary-rgb: 121, 201, 231; // --pmi-cyan-300: #79c9e7 ;
  --bs-success-rgb: 49, 139, 0;  // --pmi-green-700: #318b00 ;
  --bs-info-rgb: 121, 201, 231; // --pmi-cyan-300: #79c9e7 ;
  --bs-warning-rgb: 255, 209, 70; //  --pmi-lemon-300: #ffd146 ; // tertiary
  --bs-danger-rgb: 220, 53, 69; // default
  --bs-light-rgb: 246, 246, 246; // --pmi-neutral-50: #f6f6f6 ;
  --bs-dark-rgb: 36, 36, 36; // --pmi-neutral-950: #242424 ;
  --bs-primary-text-emphasis: #07294a;  // --pmi-blue-950: #07294a ;
  --bs-secondary-text-emphasis: #242424; // --pmi-neutral-950: #242424 ;
  --bs-success-text-emphasis: #0f3400; // --pmi-green-950: #0f3400 ;
  --bs-info-text-emphasis: #194a61; //--pmi-cyan-900: #194a61 ;
  --bs-warning-text-emphasis: #481700; //--pmi-lemon-950: #481700 ;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #dfefff; //--pmi-blue-100: #dfefff ;
  --bs-secondary-bg-subtle: #e7e7e7; // --pmi-neutral-100: #e7e7e7 ;
  --bs-success-bg-subtle: #e1ffc4; // --pmi-green-100: #e1ffc4 ;
  --bs-info-bg-subtle: #e4f2fa; //--pmi-cyan-100: #e4f2fa ;
  --bs-warning-bg-subtle: #fff2c5; //--pmi-lemon-100: #fff2c5 ;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #f6f6f6; //--pmi-neutral-50: #f6f6f6 ;
  --bs-dark-bg-subtle: #d1d1d1; //--pmi-neutral-200: #d1d1d1 ;
  --bs-primary-border-subtle: #b9dffe; //--pmi-blue-200: #b9dffe ;
  --bs-secondary-border-subtle: #d1d1d1; //--pmi-neutral-200: #d1d1d1 ;
  --bs-success-border-subtle: #9dff50; //--pmi-green-300: #9dff50 ;
  --bs-info-border-subtle: #79c9e7; //--pmi-cyan-300: #79c9e7 ;
  --bs-warning-border-subtle: #ffe585; // --pmi-lemon-200: #ffe585 ;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e7e7e7; //--pmi-neutral-100: #e7e7e7 ;
  --bs-dark-border-subtle: #b0b0b0;  // --pmi-neutral-300: #b0b0b0 ;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: --bs-font-sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: var(--pmi-blue-600);
  --bs-link-color-rgb: 0, 113, 203;
  --bs-link-decoration: underline;
  --bs-link-hover-color: var(--pmi-blue-700);
  --bs-link-hover-color-rgb: 24, 105, 140;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #2a6d07; //--pmi-green-800: #2a6d07 ;
  --bs-form-valid-border-color: #2a6d07; //--pmi-green-800: #2a6d07 ;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

:root {
  --font-size-6x: min(7.5vmin, calc(2rem + 1.2vmax));
  --font-size-5x: min(6.5vmin, calc(1.1rem + 1.2vmax));
  --font-size-4x: min(4vmin, calc(0.8rem + 1.2vmax));
  --font-size-3x: min(6vmin, calc(1rem + 0.12vmax));
  --font-size-2x: min(4vmin, calc(0.85rem + 0.12vmax));
  --font-size-1x: min(2vmin, calc(0.65rem + 0.12vmax));
  --width-2x: min(100vw, 1300px);
  --width-1x: min(100%, 1200px);
  --gap-3x: min(5vmin, 1.5rem);
  --gap-2x: min(4.5vmin, 1rem);
  --size-10x: min(15vmin, 5.5rem);
  --size-9x: min(10vmin, 5rem);
  --size-8x: min(10vmin, 4rem);
  --size-7x: min(10vmin, 3rem);
  --size-6x: min(8.5vmin, 2.5rem);
  --size-5x: min(8vmin, 2rem);
  --size-4x: min(8vmin, 1.5rem);
  --size-3x: min(7vmin, 1rem);
  --size-2x: min(5vmin, 1rem);
  --size-1x: min(2.5vmin, 0.5rem);
}


// bootstrap overides

.text-bg-primary {
  color: #fff !important;
  background-color: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-secondary {
  color: #fff !important;
  background-color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-success {
  color: #fff !important;
  background-color: RGBA(var(--bs-success-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-info {
  color: #000 !important;
  background-color: RGBA(var(--bs-info-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-warning {
  color: #000 !important;
  background-color: RGBA(var(--bs-warning-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-danger {
  color: #fff !important;
  background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-light {
  color: #000 !important;
  background-color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-dark {
  color: #fff !important;
  background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}

.link-primary {
  color: RGBA(var(--bs-primary-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-primary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-primary:hover, .link-primary:focus {
  color: RGBA(10, 88, 202, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(10, 88, 202, var(--bs-link-underline-opacity, 1)) !important;
}

.link-secondary {
  color: RGBA(var(--bs-secondary-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-secondary:hover, .link-secondary:focus {
  color: RGBA(86, 94, 100, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(86, 94, 100, var(--bs-link-underline-opacity, 1)) !important;
}

.link-success {
  color: RGBA(var(--bs-success-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-success-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-success:hover, .link-success:focus {
  color: RGBA(20, 108, 67, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(20, 108, 67, var(--bs-link-underline-opacity, 1)) !important;
}

.link-info {
  color: RGBA(var(--bs-info-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-info-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-info:hover, .link-info:focus {
  color: RGBA(61, 213, 243, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(61, 213, 243, var(--bs-link-underline-opacity, 1)) !important;
}

.link-warning {
  color: RGBA(var(--bs-warning-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-warning-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-warning:hover, .link-warning:focus {
  color: RGBA(255, 205, 57, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(255, 205, 57, var(--bs-link-underline-opacity, 1)) !important;
}

.link-danger {
  color: RGBA(var(--bs-danger-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-danger-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-danger:hover, .link-danger:focus {
  color: RGBA(176, 42, 55, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(176, 42, 55, var(--bs-link-underline-opacity, 1)) !important;
}

.link-light {
  color: RGBA(var(--bs-light-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-light-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-light:hover, .link-light:focus {
  color: RGBA(249, 250, 251, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(249, 250, 251, var(--bs-link-underline-opacity, 1)) !important;
}

.link-dark {
  color: RGBA(var(--bs-dark-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-dark-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-dark:hover, .link-dark:focus {
  color: RGBA(26, 30, 33, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(26, 30, 33, var(--bs-link-underline-opacity, 1)) !important;
}
