// Hero
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center

        .col-md-7.mt-3.mt-md-0.content-hero
            .d-flex.mb-4
                img.me-3.border(src=baseURL+"img/flag-singapore.png", alt="" height="64")
                h1.display-4.font-weight-bold.mb-3
                    | Singapura

            .col-lg-10
                p.text-secondary
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac tempor odio. Curabitur venenatis quam eu metus eleifend gravida. 
                    | Aliquam nec bibendum urna. Vivamus sit amet sapien a nisi molestie egestas. Donec in mollis mi. Duis vel mi dui. Nulla enim lorem, pharetra in eros vitae, convallis scelerisque dolor.

        .col-md-5.p-0
            img.mw-100.hero-mask(src=baseURL+"img/bg-singapore.webp", alt="Negara Tujuan PMI")