// Section Transaksi Keuangan
section
    .container.py-4.py-lg-5.px-4.px-md-0
        .row 
            .col-12.text-center
                h3 Transaksi Keuangan
        .row.border.rounded-2.overflow-hidden.mt-4
            .col-lg-6
                //- .d-flex.gap-3.p-4
                .row
                    .col-3.col-lg-4.p-4.p-lg-4.text-center
                        img.mw-100(src=baseURL+"img/img-the-saver.svg", alt="")

                    .col-9.col-lg-8.p-4.p-lg-4 
                        h5 Disiplin Menabung
                        p Disiplin menabung dan bijak berhutang perlu ada tambahan page lagi sepertinya, karena gak cukup menjelaskan di 1 halaman. jadi perlu page sendiri.
                        a.btn.btn-outline-primary(href=baseURL+"informasi-keuangan/disiplin-menabung/") Selengkapnya

            .col-lg-6.bg-pmi-blue-50
                //- .d-flex.gap-3.p-4
                .row
                    .col-3.col-lg-4.p-3.p-lg-4.text-center
                        img.mw-100(src=baseURL+"img/img-the-wiser.svg", alt="")

                    .col-9.col-lg-8.p-3.p-lg-4 
                        h5 Bijak Berhutang
                        p Saat bekerja di luar negeri, penting untuk memahami perbedaan antara utang baik dan buruk. Bijak dalam berhutang akan membantu menghindari jebakan utang yang berlebihan, seperti skema "Pay Later", serta mengenali pinjaman legal dan ilegal.
                        a.btn.btn-outline-primary(href=baseURL+"informasi-keuangan/bijak-berhutang/") Selengkapnya