// Hero Informasi Keuangan
section.section-hero
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/hero-informasi-keuangan.svg", alt="Informasi Keuangan")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Informasi Keuangan

            .col-lg-10
                p.text-secondary 
                    | Kelola keuanganmu untuk masa depan yang lebih baik. Disiplin menabung, bijak berhutang, dan eksplorasi produk tabungan, investasi, serta pinjaman untuk kebutuhanmu.
                    | Siapkan dirimu, dengan mengikuti panduan dibawah ini!

        