// Section Transaksi Aman
section.section-hero
    .container.py-4.py-lg-5.px-4.px-md-0
        .row 
            .col-12.text-center
                h3 Kejahatan dan Penipuan Bisa Dicegah, Begini Caranya
        .row.mt-4
            .col-12.col-md-6.col-lg-3 
                div.mb-3.text-center 
                    img.rounded-2.mw-75(src=baseURL+"img/cara-pencegahan01.svg", alt="")
                div 
                    p Jangan berikan data pribadi, password, PIN, dan kode OTP. Walaupun mengaku Pihak Penyelenggara.

            .col-12.col-md-6.col-lg-3 
                div.mb-3.text-center 
                    img.rounded-2.mw-75(src=baseURL+"img/cara-pencegahan02.svg", alt="")
                div 
                    p Bikin password dengan kombinasi yang unik dan susah ditebak. Hindari pakai tanggal lahir atau nama kamu.

            .col-12.col-md-6.col-lg-3 
                div.mb-3.text-center
                    img.rounded-2.mw-75(src=baseURL+"img/cara-pencegahan03.svg", alt="")
                div 
                    p Kalau ada link, file atau aplikasi yang mencurigakan, jangan diklik. Meskipun diiming-imingi hadiah.

            .col-12.col-md-6.col-lg-3 
                div.mb-3.text-center
                    img.rounded-2.mw-75(src=baseURL+"img/cara-pencegahan04.svg", alt="")
                div 
                    p Saat sedang melakukan transaksi, pastikan kamu aman dan gak ada yang melihat password kamu.