
section 
    .container.py-4.py-lg-5.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3 Produk Pinjaman
            div.d-flex.align-items-center.gap-3
                //- a.btn.btn-outline-primary(href="#") Selengkapnya
                .d-flex.gap-1
                    button.btn.button-swiper.swiper-tab3-prev
                        i.bi.bi-chevron-left
                    button.btn.button-swiper.swiper-tab3-next
                        i.bi.bi-chevron-right

        .swiper.tabNav3Swiper.tab-nav-swiper.mt-4(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
            .swiper-wrapper
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-1.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Mengenal Konsep Berutang

                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-2.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Utang Baik vs Utang Buruk

                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-3.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Kiat Bijak Berutang

                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-4.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Tips Anti Terlilit Hutang & Pinjaman


        .swiper.tabContent3Swiper.tab-content-swiper.mt-3(thumbsslider='')
            .swiper-wrapper
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Mengenal Konsep Berutang
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Utang Baik vs Utang Buruk
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Kiat Bijak Berutang
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        h5 Tips Anti Terlilit Hutang & Pinjaman
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
