// Section pengiriman uang ke Indonesia
section
    .container.py-4.py-lg-5.px-4.px-md-0
        .row 
            .col-12.text-center
                h3 Pengiriman Uang ke Indonesia
        .row.border.rounded-2.overflow-hidden.mt-4
            .col-lg-6
                .row
                    .col-3.col-lg-4.p-4.p-lg-4.text-center
                        img(src=baseURL+"img/img-man-on-desk.svg", alt="")

                    .col-9.col-lg-8.p-4.p-lg-4 
                        h5 Apa itu Remitansi dan alur pengiriman uang ke Indonesia
                        p Pengiriman uang dari dalam negeri ke penerima di luar negeri (Outward Remittance) ataupun sebaliknya dari luar negeri ke dalam negeri (Inward Remittance).
                        a.btn.btn-outline-primary(href=baseURL+"informasi-keuangan/remitansi/") Selengkapnya

            .col-lg-6.bg-pmi-blue-50
                .row
                    .col-3.col-lg-4.p-4.p-lg-4.text-center
                        img(src=baseURL+"img/img-woman-sent-paper.svg", alt="")

                    .col-9.col-lg-8.p-4.p-lg-4 
                        h5 Langkah mudah mengirimkan uang Ke Indonesia
                        p
                            | Temukan informasi mudah dan langkah-langkah untuk mengirimkan uang ke indonesia menggunakan 
                            b Bank BRI, BNI, CIMB 
                            | maupun e-wallet 
                            b Dana 
                            | dari berbagai negara.
                        a.btn.btn-outline-primary(href=baseURL+"informasi-keuangan/kirim-uang/") Selengkapnya