// Section Transaksi Aman
section
    .container.py-4.py-lg-5.px-4.px-md-0
        .row 
            .col-12.text-center
                h3 Ayo, Pahami Kewajibanmu Agar Transaksi Lebih Aman

        .row.mt-4
            .col-lg-4 
                div.mb-3 
                    img.rounded-2.w-100(src=baseURL+"img/panduan-faq01.svg", alt="")
                div 
                    p Jaga kerahasiaan dan jangan bagikan data pribadi dan kode keamanan alat pembayaran kamu (PIN, password, kode CVV/CVC dan OTP).
            
            .col-lg-4 
                div.mb-3 
                    img.rounded-2.w-100(src=baseURL+"img/panduan-faq02.svg", alt="")
                div 
                    p Harap pastikan bahwa tujuan pembayaran sudah sesuai dengan yang diinginkan dan lakukan pembayaran sesuai dengan nilai yang ingin dibayarkan.
            .col-lg-4 
                div.mb-3 
                    img.rounded-2.w-100(src=baseURL+"img/panduan-faq03.svg", alt="")
                div 
                    p Kalau terjadi masalah, langsung adukan kepada penyelenggara atau otoritas terkait. Blokir akun jika ada transaksi yang mencurigakan.