.card.course-card
    a.text-decoration-none.to-detail-course(href='/pelatihan/detail.html?title=melintasi-batas-ekspresi-kreativitas-tanpa-batas&id=ISW-P0797' title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
        .card-cover
            img.card-img-top(src='https://static-asset-cdn.prakerja.go.id/skill_week/thumbnail/isw-p0797_30.jpg' alt='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas')
            .card-cover-overlay
                .d-flex.justify-content-between.align-middle
                    .align-self-center
                        .card-company
                            img.me-1.card-logo(src='https://static-asset-cdn.prakerja.go.id/skill_week/logo/mojadipro_10.jpg' alt='MojadiPro')
                            span.course-lp-name MojadiPro
                    .align-self-center
                        span.badge.rounded-pill.text-capitalize.text-bg-warning  Self-Paced Learning
        .card-body
            h6.mb-1.course-title.text-capitalize(title='Melintasi Batas: Ekspresi Kreativitas Tanpa Batas') Melintasi Batas: Ekspresi Kreativitas Tanpa Batas
            .d-flex.my-2
                span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Sosial dan Perilaku') Sosial dan Perilaku
            div
                .course-real-price.mb-1
                    span.me-2 Rp 500.000
                    span.badge.text-bg-success 60%
                .course-price.card-price.mb-1.color-tertiary Rp 200.000