section.border-bottom 
    .container.px-4.px-md-0
        .swiper.courseCatSwiper.mt-4
            .swiper-wrapper.pb-3
                .swiper-slide
                    a.p-2.rounded.btn-course-cat(href="#") 
                        i.bi.bi-translate.me-2.fs-5.text-gradient-1
                        span.fs-7 Bahasa Asing
                
                .swiper-slide
                    a.p-2.rounded.btn-course-cat(href="#") 
                        i.bi.bi-shop.me-2.fs-5.text-gradient-1
                        span.fs-7 UMKM

                .swiper-slide
                    a.p-2.rounded.btn-course-cat(href="#") 
                        i.bi.bi-wallet.me-2.fs-5.text-gradient-1
                        span.fs-7 Pengelolaan Uang

                .swiper-slide
                    a.p-2.rounded.btn-course-cat(href="#") 
                        i.bi.bi-bar-chart-line.me-2.fs-5.text-gradient-1
                        span.fs-7 Investasi
                .swiper-slide
                    a.p-2.rounded.btn-course-cat(href="#") 
                        i.bi.bi-cash-coin.me-2.fs-5.text-gradient-1
                        span.fs-7 Permodalan
        