// Hero Starts

section.section-hero.bg-pmi-blue-50
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center.justify-content-center
        .col-md-8.col-lg-6.text-center
            h1.mb-3 Pelatihan
            .input-group.custom-search-2.search-only.mb-5
                button#button-addon1.btn.btn-outline-light.btn-lg(type='button')
                    i.bi.bi-search
                input.form-control.form-control-lg(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' placeholder='Cari pelatihan...')

    .row.d-flex.align-items-center.justify-content-center
        .col-md-10
            .row
                .col-md-4 
                    .d-flex.fs-8.align-items-center
                        i.bi.bi-check2-circle.fs-5.text-success
                        span.ms-2 Pelatihan terbatas disediakan secara online

                .col-md-4 
                    .d-flex.fs-8.align-items-center
                        i.bi.bi-check2-circle.fs-5.text-success
                        span.ms-2 Harga pelatihan terdiri atas pelatihan gratis, murah, dan diskon besar

                .col-md-4 
                    .d-flex.fs-8.align-items-center
                        i.bi.bi-check2-circle.fs-5.text-success
                        span.ms-2 Ketersediaan pelatihan disesuaikan dengan jadwal yang ditentukan
    
