div
    .row.mb-3
        .d-flex.justify-content-between.align-items-center.fs-7
            span
                | Ditemukan 
                b 289 
                | pelatihan
            
            div.d-flex.align-items-center
                .me-1 Urutkan: 
                select.form-select(aria-label='Default select example')
                    option(selected='') Terbaru
                    option(value='1') Terlama
                    option(value='2') Harga Tertinggi
                    option(value='3') Harga Terendah

    .row 
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug

        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug

        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
            
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
        .col-12.col-md-6.col-lg-4.mb-4
            include sample_card_course.pug
    
    div.text-center
        button.btn.btn-outline-primary 
            | Muat Lebih Banyak
        //- nav(aria-label='Page navigation example')
        //- ul.pagination
        //-     li.page-item
        //-         a.page-link(href='#' aria-label='Previous')
        //-             span(aria-hidden='true') &laquo;
        //-     li.page-item
        //-         a.page-link(href='#') 1
        //-     li.page-item
        //-         a.page-link(href='#') 2
        //-     li.page-item
        //-         a.page-link(href='#') 3
        //-     li.page-item
        //-         a.page-link(href='#' aria-label='Next')
        //-             span(aria-hidden='true') &raquo;

                            

        
        