section 
    .container.pt-4.pt-lg-5.px-4.px-md-0
        .row.d-flex.justify-content-center 
            .col-lg-8 
                h1 BP2MI Kukuhkan 70 Kawan PMI Kalimantan Barat

                .d-flex 
                    span.badge.text-bg-info.me-3 
                        | Inspirasi 
                    span.text-secondary.fs-7.me-3
                        i.bi.bi-stopwatch.me-1
                        | 5 Menit baca
                    span.text-secondary.fs-7.me-3
                        i.bi.bi-clock.me-1
                        | 20 Juni 2023

                div.my-4
                    img.mw-100.rounded(src="https://bp2mi.go.id/uploads/berita/images/BP2MI_Kukuhkan_70_Kawan_PMI_Kalimantan_Barat__DSC06647.jpg", alt="BP2MI Kukuhkan 70 Kawan PMI Kalimantan Barat")
                    figcaption.fs-8.mt-2 Test Figcaption