.container.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
      .col-12.d-flex.justify-content-center
        div.text-center
            div
                a(href=baseURL+'index.html')
                    img(src=baseURL+'img/logo-pmi.svg' alt='Jari PMI')

            img.my-4(src=baseURL+"img/maintenance.svg", alt="")
            h1.display-1.text-gradient-1.my-0.fw-bold 500
            h2 Terjadi Kesalahan Internal
            p.text-secondary Silakan kembali di lain waktu
